<include file="Common/header"/>

<div class="page">

	<div class="fixed-empty"></div>
	<form method="post" name="pw_form" id="pw_form">
		<input type="hidden" name="form_submit" value="ok">
		<table class="table tb-type2">
			<tbody>
				
				<tr class="noborder" style="background: rgb(255, 255, 255);">
					<td colspan="2" class="required"><label for="site_name">原密码:</label><span></span></td>
				</tr>
				<tr class="noborder" style="background: rgb(255, 255, 255);">
					<td class="vatop rowform">
					<input id="site_name" name="old_password" value="" class="txt" type="password">
					</td>
					<td class="vatop tips"><span class="vatop rowform">现在正在使用的密码</span></td>
				</tr>
				
				<tr class="noborder" style="background: rgb(255, 255, 255);">
					<td colspan="2" class="required"><label for="site_name">新密码:</label><span></span></td>
				</tr>
				<tr class="noborder" style="background: rgb(255, 255, 255);">
					<td class="vatop rowform">
					<input id="site_name" name="password" value="" class="txt" type="password">
					</td>
					<td class="vatop tips"><span class="vatop rowform">设置新密码</span></td>
				</tr>
				
				<tr class="noborder" style="background: rgb(255, 255, 255);">
					<td colspan="2" class="required"><label for="site_name">再次输入密码:</label><span></span></td>
				</tr>
				<tr class="noborder" style="background: rgb(255, 255, 255);">
					<td class="vatop rowform">
					<input id="site_name" name="re_password" value="" class="txt" type="password">
					</td>
					<td class="vatop tips"><span class="vatop rowform">请再次输入新密码</span></td>
				</tr>

				
			</tbody>
			<tfoot id="submit-holder">
				<tr class="tfoot">
					<td colspan="2"><a href="JavaScript:void(0);" class="btn" ><span>提交</span></a></td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>
<script type="text/javascript">
	// 模拟网站LOGO上传input type='file'样式
	$(function() {
		$('.btn').click(function (){
			$('#pw_form').submit();
		})
		
		
		
		$('#pw_form').validate({
			errorPlacement:function(error,element){
        		$(element).parents('tr').prev('tr').find('td').append(error);
			},
			
			rules:{
				old_password:{
					required:true,
				},
				password:{
					required:true,
				},
				re_password:{
					required:true,
				},
			},
			messages:{
				old_password:{
					required:'请输入原密码',
				},
				password:{
					required:'请输入新密码',
				},
				re_password:{
					required:'请再次输入密码',
				},
			}
		})
	}); 
</script>


</body></html>