<include file="Common/header"/>

<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<h3>分类</h3>
			<ul class="tab-base">
		        <li><a href="_ADMIN_URL_/goods_class/index" ><span>管理</span></a></li>
		        <li><a href="_ADMIN_URL_/goods_class/add" class="current"><span><if condition="$edit_sign">编辑<else/>新增</if></span></a></li>
		        <li><a href="_ADMIN_URL_/goods/setting"><span>分类设置</span></a></li>
		    </ul>
		</div>
	</div>
	<div class="fixed-empty"></div>
	<form method="post" enctype="multipart/form-data" name="form1">
		<input type="hidden" name="form_submit" value="ok">
		<table class="table tb-type2">
			<tbody>
				
				<tr class="noborder" style="background: rgb(255, 255, 255);">
					<td colspan="2" class="required"><label for="class_name">分类名称:</label></td>
				</tr>
				<tr class="noborder" style="background: rgb(255, 255, 255);">
					<td class="vatop rowform">
					<input id="class_name" name="class_name" value="{$class.class_name}" class="txt" type="text">
					</td>
					<td class="vatop tips"><span class="vatop rowform">排序</span></td>
				</tr>
				
				<tr class="noborder" style="background: rgb(255, 255, 255);">
					<td colspan="2" class="required"><label for="sort">排序:</label></td>
				</tr>
				<tr class="noborder" style="background: rgb(255, 255, 255);">
					<td class="vatop rowform">
					<input id="sort" name="sort" value="{$class.sort}" class="txt" type="text">
					</td>
					<td class="vatop tips"><span class="vatop rowform">排序</span></td>
				</tr>

				
				<tr style="background: rgb(255, 255, 255);">
					<td colspan="2" class="required"><label for="parent_id">上级分类:</label></td>
				</tr>
				<tr class="noborder" style="background: rgb(255, 255, 255);">
					<td class="vatop rowform">
					<select name="parent_id">
						<option value="0">顶级分类</option>
						<foreach name="class_list" item="class_info">
						<option value="{$class_info.class_id}" <if condition="$class['class_id'] == $class_info['class_id']">selected="selected"</if> >{$class_info.level|str_repeat="&nbsp;&nbsp;&nbsp;&nbsp;",###}{$class_info.class_name}</option>
						</foreach>
					</select>
					</td>
					<td class="vatop tips"><span class="vatop rowform">所属的上级分类</span></td>
				</tr>
				
			</tbody>
			<tfoot id="submit-holder">
				<tr class="tfoot">
					<td colspan="2"><a href="JavaScript:void(0);" class="btn" onclick="document.form1.submit()"><span>提交</span></a></td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>
<script type="text/javascript">
	// 模拟网站LOGO上传input type='file'样式
	$(function() {
		$("#site_logo").change(function() {
			$("#textfield1").val($(this).val());
		});
		$("#member_logo").change(function() {
			$("#textfield2").val($(this).val());
		});
		$("#seller_center_logo").change(function() {
			$("#textfield3").val($(this).val());
		});
		// 上传图片类型
		$('input[class="type-file-file"]').change(function() {
			var filepatd = $(this).val();
			var extStart = filepatd.lastIndexOf(".");
			var ext = filepatd.substring(extStart, filepatd.lengtd).toUpperCase();
			if (ext != ".PNG" && ext != ".GIF" && ext != ".JPG" && ext != ".JPEG") {
				alert("图片限于png,gif,jpeg,jpg格式");
				$(this).attr('value', '');
				return false;
			}
		});
		$('#time_zone').attr('value', '8');
	}); 
</script>
<!-- zhxc 屏蔽 debug 信息的页面输出
<div id="think_page_trace" class="trace">
<fieldset id="querybox">
<legend>页面Trace信息</legend>
<div>
Array
(
)
</div>
</fieldset>
</div>
-->

</body></html>