<!doctype html>
<html>
<head>
	<title>下载专区-资料下载</title>
	<meta charset="utf-8" />
	<meta name="author" />
	<meta name="keyword" />
	<meta name="description" />
	<link rel="stylesheet" type="text/css" href="_CSS_/common.css">
	<link rel="stylesheet" type="text/css" href="_CSS_/down_list.css">
	<script type="text/javascript" src="_JS_/jquery.js"></script>
	<script type="text/javascript" src="_JS_/index.js"></script>
	
</head>
<body>
	<include file="Common/header" />

	<div id="content">
		<div id="left">
	    	<div class="list_header">{$left_nav[0]['name']}</div>
	        <div class="">
	        	<ul class="msg_list">
					<foreach name="left_nav[1]" item="v">
	        			<li class="{$v.curr}"><a href="{:U("DownLoad/index?c=$v[id]")}">{$v.name}</a></li>
	        		</foreach>
	            </ul> 
	        </div>
	        
	        <div class="left_bottom"></div>
	    </div>

	    <div id="right">
	    	<div class="right_title">
	    		<ul class="breadcrumbs">
					<foreach name="right_nav" item="v">
						<li ><span>&gt;</span><a href="{:U("DownLoad/index?c=$v[id]")}">{$v.name}</a> </li>
					</foreach>
				</ul>
	    	</div>
        	<div class="right_content">
        		<eq name='error' value=''>
	        	<ul>
	        	<foreach name="list" item="v">
	            	<li><img src="_UPIMG_/{$v.icon}">
	            		<div class="data_msg">
	            			<div class="data_content">
	            				<div class="data_name"><a href="{:U("DownLoad/detail?c=$v[category_id]&id=$v[id]")}">{$v.file}</a></div>
	            				<p class="data_introduce">{$v.description|substr=0,300}</p>
	            			</div>
	            			<div class="data_other">
	            				<span><input type="button" value="下载"></span>
	            				<span>{$v.count}次下载</span>
	            				<span>{$v.size}MB</span>
	            			</div>
	            		</div>
	            	</li>
	            </foreach>
	            	<li><img src="_IMG_/docx_win.png">
	            		<div class="data_msg">
	            			<div class="data_content">
	            				<div class="data_name"><a href="down_msg.html">青岛未出口鱼片黑名单企业向美</a></div>
	            				<p class="data_introduce">青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美青岛未</p>
	            			</div>
	            			<div class="data_other">
	            				<span><input type="button" value="下载"></span>
	            				<span>39次下载</span>
	            				<span>20.12MB</span>
	            			</div>
	            		</div>
	            	</li>
	            	<li><img src="_IMG_/docx_win.png">
	            		<div class="data_msg">
	            			<div class="data_content">
	            				<div class="data_name"><a href="down_msg.html">青岛未出口鱼片黑名单企业向美</a></div>
	            				<p class="data_introduce">青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美青岛未</p>
	            			</div>
	            			<div class="data_other">
	            				<span><input type="button" value="下载"></span>
	            				<span>39次下载</span>
	            				<span>20.12MB</span>
	            			</div>
	            		</div>
	            	</li>
	            	<li><img src="_IMG_/docx_win.png">
	            		<div class="data_msg">
	            			<div class="data_content">
	            				<div class="data_name"><a href="down_msg.html">青岛未出口鱼片黑名单企业向美</a></div>
	            				<p class="data_introduce">青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美青岛未</p>
	            			</div>
	            			<div class="data_other">
	            				<span><input type="button" value="下载"></span>
	            				<span>39次下载</span>
	            				<span>20.12MB</span>
	            			</div>
	            		</div>
	            	</li>
	            	<li><img src="_IMG_/docx_win.png">
	            		<div class="data_msg">
	            			<div class="data_content">
	            				<div class="data_name"><a href="down_msg.html">青岛未出口鱼片黑名单企业向美</a></div>
	            				<p class="data_introduce">青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美青岛未</p>
	            			</div>
	            			<div class="data_other">
	            				<span><input type="button" value="下载"></span>
	            				<span>39次下载</span>
	            				<span>20.12MB</span>
	            			</div>
	            		</div>
	            	</li>
	            	<li><img src="_IMG_/docx_win.png">
	            		<div class="data_msg">
	            			<div class="data_content">
	            				<div class="data_name"><a href="down_msg.html">青岛未出口鱼片黑名单企业向美</a></div>
	            				<p class="data_introduce">青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美青岛未</p>
	            			</div>
	            			<div class="data_other">
	            				<span><input type="button" value="下载"></span>
	            				<span>39次下载</span>
	            				<span>20.12MB</span>
	            			</div>
	            		</div>
	            	</li>
	            	<li><img src="_IMG_/docx_win.png">
	            		<div class="data_msg">
	            			<div class="data_content">
	            				<div class="data_name"><a href="down_msg.html">青岛未出口鱼片黑名单企业向美</a></div>
	            				<p class="data_introduce">青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美青岛未</p>
	            			</div>
	            			<div class="data_other">
	            				<span><input type="button" value="下载"></span>
	            				<span>39次下载</span>
	            				<span>20.12MB</span>
	            			</div>
	            		</div>
	            	</li>
	            	<li><img src="_IMG_/docx_win.png">
	            		<div class="data_msg">
	            			<div class="data_content">
	            				<div class="data_name"><a href="down_msg.html">青岛未出口鱼片黑名单企业向美</a></div>
	            				<p class="data_introduce">青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美青岛未</p>
	            			</div>
	            			<div class="data_other">
	            				<span><input type="button" value="下载"></span>
	            				<span>39次下载</span>
	            				<span>20.12MB</span>
	            			</div>
	            		</div>
	            	</li>
	            	<li><img src="_IMG_/docx_win.png">
	            		<div class="data_msg">
	            			<div class="data_content">
	            				<div class="data_name"><a href="down_msg.html">青岛未出口鱼片黑名单企业向美</a></div>
	            				<p class="data_introduce">青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美青岛未</p>
	            			</div>
	            			<div class="data_other">
	            				<span><input type="button" value="下载"></span>
	            				<span>39次下载</span>
	            				<span>20.12MB</span>
	            			</div>
	            		</div>
	            	</li>
	            	<li><img src="_IMG_/docx_win.png">
	            		<div class="data_msg">
	            			<div class="data_content">
	            				<div class="data_name"><a href="down_msg.html">青岛未出口鱼片黑名单企业向美</a></div>
	            				<p class="data_introduce">青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美青岛未</p>
	            			</div>
	            			<div class="data_other">
	            				<span><input type="button" value="下载"></span>
	            				<span>39次下载</span>
	            				<span>20.12MB</span>
	            			</div>
	            		</div>
	            	</li>
	            </ul>
	            <else />{$error}</eq>
	        </div>
	        <div id="pager">
	        	{$pageCode}
	        	<!-- <div class="to_page">
	        		<input type="text" value="">
	        		<a href="#">GO</a>
	        	</div> -->
	        </div>
        </div>
	</div>

	<div class="barrier"> </div>
	<include file="Common/footer" />

</body>

