<!doctype html>
<html>
<head>
	<title>具体内容</title>
	<meta charset="utf-8" />
	<meta name="author" />
	<meta name="keyword" />
	<meta name="description" />
	<link rel="stylesheet" type="text/css" href="_CSS_/common.css">
	<link rel="stylesheet" type="text/css" href="_CSS_/msg_content.css">
	<script type="text/javascript" src="_JS_/jquery.js"></script>
	<script type="text/javascript" src="_JS_/index.js"></script>
	
</head>
<body>
	<include file="Common/header" />
	<div id="content">
		<div id="left">
	    	<div class="list_header">{$left_nav[0]['name']}</div>
	        <div class="">
	        	<ul class="msg_list">
	        		<foreach name="left_nav[1]" item="v">
	        			<li class="{$v.curr}"><a href="{:U("Message/index?c=$v[id]")}">{$v.name}</a></li>
	        		</foreach>
	            </ul> 
	        </div>
	        
	        <div class="left_bottom"> </div>
	    </div>

	    <div id="right">
	    	<div class="right_title">
	    		<ul class="breadcrumbs">
					<foreach name="right_nav" item="v">
						<li ><span>&gt;</span><a href="{:U("Message/index?c=$v[id]")}">{$v.name}</a> </li>
					</foreach>
				</ul>
	    	</div>
        	<div class="right_content">
        		
			<eq name='error' value=''>
	        	<div class="msg_title">
	        		<h2>{$content.title}</h2>
	        	</div>
	        	<div class="post_time">{$content.uptime|date="Y-m-d H:i:s",###}</div>
	        	<div class="msg_content">
	        		{$content.content}
					<!--判断阅读权限-->
					<!--判断是否已经扣点-->
					<p>在高压态势下，“四风”问题更加隐蔽，穿上隐身衣、进入青纱帐。有的领导干部坐公交、打出租去参加宴请，有的躲进“培训中心”、私人会所大吃大喝，不收敛不收手、顶风违纪行为仍时有发生。</p>
					<p>冰冻三尺非一日之寒。作风问题具有顽固性、反复性。“四风”问题是长期形成的痼疾顽症，不可能短期内消除。纠正“四风”不可能一蹴而就、一劳永逸，不能指望一下子解决所有问题。一下子很容易成为一阵子，一阵子容易、一辈子难。</p>
					<p>落实八项规定精神以来，在党中央的坚强领导下，在全党全社会的共同努力下，作风建设取得了明显进展和阶段成效，密切了党群关系、赢得了党心民心。然而，纠正“四风”工作还不平衡，基础还不稳固。树倒根存。享乐主义和奢靡之风虽然在面上有所好转，但防止反弹的任务依然艰巨。形式主义、官僚主义积习难改，以形式主义反对形式主义现象仍然突出。有些领导干部说，现在对违反八项规定精神的事都“不想”了。其实，目前阶段仅仅是“不敢”，远没有做到“不能”，更没有达到“不想”。在高压态势下，“四风”问题更加隐蔽，穿上隐身衣、进入青纱帐。有的领导干部坐公交、打出租去参加宴请，有的躲进“培训中心”、私人会所大吃大喝，不收敛不收手、顶风违纪行为仍时有发生。</p>
					<p>我们必须保持冷静清醒，既要坚定改进作风的信心和决心，又要看到我们现在取得的这一点点成绩，与党中央的要求、人民群众的期盼还有很大距离。要继续加大正风肃纪力度，以最严格的标准、最严厉的措施治理作风问题，形成有力震慑，彻底打消一些人的观望侥幸之心。目前要重点查处党的十八大后、中央八项规定出台和开展群众路线教育实践活动后的顶风违纪行为，越往后执纪越严，强化“不敢”的氛围，为“不能”、“不想”准备条件。</p>
					<p>落实八项规定精神，不坚持不足以深化，不深化也无以坚持。当前，改进作风到了节骨眼上，干部群众最担心的是问题反弹，最盼望的是保持长效。要抓常、抓细、抓长，锲而不舍、驰而不息，决不能紧一阵松一阵、进三步退两步，决不让“四风”问题反弹回潮。要盯住一个个具体问题，以具体问题的突破，带动作风的整体转变。要进一步畅通社会监督渠道，依靠群众和媒体开展监督。要加大执纪查处和点名曝光力度，持续释放执纪必严的强烈信号。改进作风最终还要靠制度，要在实践中细化制度，不断建立健全改进作风的长效机制，坚持不懈把纠正“四风”这篇文章往深里做。</p>
					<p>习近平总书记指出的“作风建设永远在路上”这一再精彩不过的论断，彰显了党中央对作风建设的决心和毅力，从严治党将成为新常态，作风建设必须落地生根。要咬住落实八项规定精神不放，一年接着一年干，坚持住、不发散，经过艰苦不懈的努力，让人民群众看到实实在在的成效和变化，使优良的作风成为全党的习惯和风气，成为党的建设的亮丽名片。<br>
					&nbsp;</p>  
	        	</div>
	        	<else />{$error}</eq>
	        </div>
        </div>
	</div>

	<div class="barrier"> </div>
	<include file="Common/footer" />

</body>

