<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta name="description" content="一元幸运购">
		<meta name="keywords" content="1元幸运购,1元购手机,1元购电脑,1元购笔记本电脑,1元购物,云购">
		<link rel="shortcut icon" href="#">
		<title>{:C('setting.site_name')}</title>
		<link rel="stylesheet" type="text/css" href="_CSS_/header.css">
		<link href="_CSS_/index.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="_JS_/jquery.js"></script>
		<script type="text/javascript" src="_JS_/Index.js"></script>
		<script language="javascript" type="text/javascript" src="_JS_/Bottom.js"></script>
		<script language="javascript" type="text/javascript" src="_JS_/BottomFun.js"></script>
		<script language="javascript" type="text/javascript" src="_JS_/Comm.js"></script>
		<script language="javascript" type="text/javascript" src="_JS_/IndexFun.js"></script>
		<script language="javascript" type="text/javascript" src="_JS_/AjaxFun.js"></script>
		<script language="javascript" type="text/javascript" src="_JS_/Comm(1).js"></script>
		<script language="javascript" type="text/javascript" src="_JS_/indexLotteryFun.js"></script>
	</head>

	<body id="loadingPicBlock" class="home" rf="1">
		<div class="wrapper">
			<!--头部-->
			<!--顶部-->
			<div class="g-toolbar clrfix">
				<div class="w1190">
					<ul class="fl">
						<li class="f-collect">
							<div class="u-menu-hd">
								<a id="btnTFavorite" href="javascript:void(0);" title="收藏">收藏</a>
							</div>
						</li>
						<li class="f-gap">
							<s></s>
						</li>
						<li class="f-gap">
							<s></s>
						</li>
						<li>
							<div class="u-menu-hd">
								<a id="btnTFavorite" href="__ROOT__" title="加入我们">加入我们</a>
							</div>
						</li>
					</ul>
					<ul id="ulTopRight" class="fr">
						<li>
							<div class="u-menu-hd">
								<a href="{:getUrl('login/index')}" title="登录">登录</a>
							</div>
						</li>
						<li class="f-gap">
							<s></s>
						</li>
						<li>
							<div class="u-menu-hd">
								<a href="{:getUrl('login/regist')}" title="注册">注册</a>
							</div>
						</li>
						<li class="f-gap">
							<s></s>
						</li>
						<li id="liMember" class="u-arr-1yyg">
							<div class="u-menu-hd">
								<a href="__ROOT__" title="我的幸运购">我的幸运购</a>
								<div class="f-top-arrow">
									<cite>◆</cite><b>◆</b>
								</div>
							</div>
							<div class="u-select">
								<span><a href="__ROOT__" title="云购记录">云购记录</a></span>
								<span><a href="__ROOT__" title="获得的商品">获得的商品</a></span>
								<span><a href="__ROOT__" title="个人设置">个人设置</a></span>
							</div>
						</li>
						<li class="f-gap">
							<s></s>
						</li>
						<li id="liTopUMsg" class="u-arr-news" style="display: none;" show="-1">
							<div class="u-menu-hd">
								<a href="#" title="消息">消息</a>
								<h3 style="display: none;"></h3>
								<div class="f-top-arrow">
									<cite>◆</cite><b>◆</b>
								</div>
							</div>
							<div class="u-select">
								<span><a href="#" title="好友请求">好友请求</a></span>
								<span><a href="#" title="系统消息">系统消息</a></span>
								<span><a href="#" title="私信" class="f-msg">私信</a></span>
							</div>
						</li>
						<li class="f-gap" style="display: none;">
							<s></s>
						</li>
						<li>
							<div class="u-menu-hd">
								<a href="#" title="充值">充值</a>
							</div>
						</li>
						<li class="f-gap">
							<s></s>
						</li>
						<!--<li>
							<div class="u-menu-hd">
								<a href="#" title="帮助">帮助</a>
							</div>
						</li>
						<li class="f-gap">
							<s></s>
						</li>
						<li>
							<div class="u-menu-hd">
								<a href="#" title="投诉">投诉</a>
							</div>
						</li>
						<li class="f-gap">
							<s></s>
						</li>
						<li class="f-zxkf">
							<div class="u-menu-hd">
								<a id="btnTopQQ" href="javascript:void(0);" title="在线客服" class="u-service u-service-on"><i></i>在线客服</a>
							</div>
						</li>
					-->
					</ul>
				</div>
			</div><!--头部-->
			<div class="g-header">
				<div class="w1190">
					<div id="topLogoAd" class="logo_1yyg fl">
						<a href="__ROOT__" id="logo"><img src="_UPIMG_/{$site_logo|C='setting.site_logo',###}" class="logo" /></a>
					</div>
					<div class="search_cart_wrap fr">
						<div class="number">
							<a href="__ROOT__" target="_blank">
							<ul id="ulHTotalBuy">
								<li class="nobor gray6">
									累计参与
								</li>
								<li class="num">
									<cite style="top: -108px;"><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em></cite><i></i>
								</li>
								<li class="num">
									<cite style="top: -243px;"><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em></cite><i></i>
								</li>
								<li class="num">
									<cite style="top: -108px;"><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em></cite><i></i>
								</li>
								<li class="nobor">
									,
								</li>
								<li class="num">
									<cite style="top: -216px;"><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em></cite><i></i>
								</li>
								<li class="num">
									<cite style="top: 0px;"><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em></cite><i></i>
								</li>
								<li class="num">
									<cite style="top: -27px;"><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em></cite><i></i>
								</li>
								<li class="nobor">
									,
								</li>
								<li class="num">
									<cite style="top: -216px;"><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em></cite><i></i>
								</li>
								<li class="num">
									<cite style="top: 0px;"><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em><em t="9">9</em><em t="8">8</em><em t="7">7</em></cite><i></i>
								</li>
								<li class="num">
									<cite style="top: -27px;"><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em></cite><i></i>
								</li>
								<li class="nobor gray6 u-secondary">
									人次<b><s></s></b>
								</li>
							</ul> </a>
						</div>

						<div class="search">
							<div class="form">
								<input id="txtHSearch" type="text" value="搜索" placeholder="" style="color: rgb(187, 187, 187);">
								<span> <a href="__ROOT__" target="_blank" title="手机">手机</a> <a href="__ROOT__" target="_blank" title="ipad">ipad</a> </span>
							</div>
							<a id="btnHSearch" href="javascript:void(0);" class="seaIcon"><i></i></a>
						</div>
					</div>
				</div>
			</div>

			<!--导航-->
			<div class="g-nav">
				<div class="w1190">
					<div id="divGoodsSort" class="m-menu fl">
						<div class="m-menu-all">
							<h3><a href="__ROOT__">全部商品分类</a><em></em></h3>
						</div>
						<div id="divSortList" class="m-all-sort" style="display:block;">
							
							<foreach name="class_list" item="v" >
							<if condition="$v['parent_id'] == 0">
							<dl class="">
								<dt>
									<a href="__ROOT__">{$v.class_name}</a>
								</dt>
								<dd>
									<foreach name="class_list" item="child" >
									<if condition="$child['parent_id'] == $v['class_id']">
									<a href="__ROOT__">{$child.class_name}</a>
									</if>
									</foreach>
								</dd>
							</dl>
							</if>
							</foreach>
						</div>

					</div>
					<div class="nav-main fl">
						<ul>
							<li class="f-nav-home">
								<a href="__ROOT__">首页</a>
							</li>
							<li class="f-nav-lottery">
								<a href="__ROOT__">最新揭晓</a>
							</li>
							
							<li class="f-nav-share">
								<a href="#">晒单分享</a>
							</li>
							
							<li class="f-nav-guide">
								<a href="#">新手指南</a>
							</li>
						</ul>
					</div>
					<div id="divHCart" class="nav-cart fr">
						<div class="nav-cart-btn">
							<a href="#" target="_blank"><i class="f-cart-icon"></i>购物车<span id="spHCart"></span></a>
						</div>
						<div class="nav-cart-con">
							<div class="m-loading-2014">
								<em></em>
							</div>
							<div class="nav-car-cartEmpty">
								<i></i>您的购物车为空 !
							</div>
							<div class="nav-cart-select"></div>
							<div class="nav-cart-pay"></div>
						</div>
					</div>
				</div>
			</div>
