    <div class="wrapper">
        <!--头部-->
        <!--顶部-->
 <div class="g-toolbar clrfix">
     <div class="w1190">
         <ul class="fl">
             <li class="f-collect">
                 <div class="u-menu-hd">
                     <a id="btnTFavorite" href="javascript:;" title="收藏">收藏</a>
                 </div>
             </li>
             <li class="f-gap"><s></s></li>
             <li id="liMobile" class="u-arr">
                 <div class="u-menu-hd transparent-png">
                     <a href="http://info.1yyg.com/app/mobile.html" target="_blank" title="手机云购">手机云购</a>
                     <div class="f-top-arrow"><cite>◆</cite><b>◆</b></div>
                 </div>
                 <div class="u-select">
                     <p>
                         <a href="http://info.1yyg.com/app/mobile.html" target="_blank">
                             <img src="/andriod.jpg">
                             下载客户端
                         </a>
                     </p>
                 </div>
             </li>
             <li class="f-gap"><s></s></li>
             <li>
                 <a href="http://www.1yyg.com/url.html?t=8" target="_blank" class="cctv-icon" title="央视网">
                     <img src="/cctv-icon.jpg" alt="央视网" width="80" height="35" class="cctv-icon-img">
                     <span class="cctv-icon-txt">广告合作伙伴</span>
                 </a>
             </li>
         </ul>
         <ul id="ulTopRight" class="fr"><li><div class="u-menu-hd"><a href="https://passport.1yyg.com/login.html?forward=rego" title="登录">登录</a></div></li><li class="f-gap"><s></s></li><li><div class="u-menu-hd"><a href="https://passport.1yyg.com/register.html?forward=rego" title="注册">注册</a></div></li><li class="f-gap"><s></s></li>
             <li id="liMember" class="u-arr-1yyg">
                 <div class="u-menu-hd">
                     <a href="http://member.1yyg.com/" title="我的1元云购">我的1元云购</a>
                     <div class="f-top-arrow"><cite>◆</cite><b>◆</b></div>
                 </div>
                 <div class="u-select">
                     <span><a href="http://member.1yyg.com/UserBuyList.do" title="云购记录">云购记录</a></span>
                     <span><a href="http://member.1yyg.com/OrderList.do" title="获得的商品">获得的商品</a></span>
                     <span><a href="http://member.1yyg.com/MemberModify.do" title="个人设置">个人设置</a></span>
                 </div>
             </li>
             <li class="f-gap"><s></s></li>
             <li id="liTopUMsg" class="u-arr-news" style="display: none;" show="-1">
                 <div class="u-menu-hd">
                     <a href="http://member.1yyg.com/userMessage.do" title="消息">消息</a>
                     <h3 style="display: none;"></h3>
                     <div class="f-top-arrow"><cite>◆</cite><b>◆</b></div>
                 </div>
                 <div class="u-select">
                     <span><a href="http://member.1yyg.com/FriendsApply.do" title="好友请求">好友请求</a></span>
                     <span><a href="http://member.1yyg.com/UserMessage.do" title="系统消息">系统消息</a></span>
                     <span><a href="http://member.1yyg.com/UserPrivMsg.do" title="私信" class="f-msg">私信</a></span>
                 </div>
             </li>
             <li class="f-gap" style="display: none;"><s></s></li>
             <li>
                 <div class="u-menu-hd">
                     <a href="http://member.1yyg.com/UserRecharge.do" title="充值">充值</a>
                 </div>
             </li>
             <li class="f-gap"><s></s></li>
             <li>
                 <div class="u-menu-hd">
                     <a href="http://help.1yyg.com/" title="帮助">帮助</a>
                 </div>
             </li>
             <li class="f-gap"><s></s></li>
             <li>
                 <div class="u-menu-hd">
                     <a href="http://help.1yyg.com/htm-contactus.html" title="投诉">投诉</a>
                 </div>
             </li>
             <li class="f-gap"><s></s></li>
             <li class="f-zxkf">
                 <div class="u-menu-hd">
                     <a id="btnTopQQ" href="javascript:;" title="在线客服" class="u-service u-service-on"><i></i>在线客服</a>
                 </div>
             </li>
         </ul>
     </div>
 </div><!--头部-->
       <div class="g-header">
           <div class="w1190">
               <div id="topLogoAd" class="logo_1yyg fl">
                   <a href="./1元云购 - 惊喜无限_files/1元云购 - 惊喜无限.html" class="logo"></a>
               </div>
               <div class="search_cart_wrap fr">
                   <div class="number">
                       <a href="http://www.1yyg.com/HistoryBuyRecords.html" target="_blank">
                           <ul id="ulHTotalBuy">
                               <li class="nobor gray6">累计参与</li>
                               <li class="num"><cite style="top: -108px;"><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em></cite><i></i></li>
                               <li class="num"><cite style="top: -243px;"><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em></cite><i></i></li>
                               <li class="num"><cite style="top: -108px;"><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em></cite><i></i></li>
                               <li class="nobor">,</li>
                               <li class="num"><cite style="top: -216px;"><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em></cite><i></i></li>
                               <li class="num"><cite style="top: 0px;"><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em></cite><i></i></li>
                               <li class="num"><cite style="top: -27px;"><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em></cite><i></i></li>
                               <li class="nobor">,</li>
                               <li class="num"><cite style="top: -216px;"><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em></cite><i></i></li>
                               <li class="num"><cite style="top: 0px;"><em t="6">6</em><em t="5">5</em><em t="4">4</em><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em><em t="9">9</em><em t="8">8</em><em t="7">7</em></cite><i></i></li>
                               <li class="num"><cite style="top: -27px;"><em t="3">3</em><em t="2">2</em><em t="1">1</em><em t="0">0</em><em t="9">9</em><em t="8">8</em><em t="7">7</em><em t="6">6</em><em t="5">5</em><em t="4">4</em></cite><i></i></li>
                               <li class="nobor gray6 u-secondary">人次<b><s></s></b></li>
                           </ul>
                       </a>
                   </div>
       
                   <div class="search">
                       <div class="form">
                           <input id="txtHSearch" type="text" value="输入“汽车”试试" placeholder="" style="color: rgb(187, 187, 187);">
                           <span>
                               <a href="http://www.1yyg.com/search/?q=%E8%8B%B9%E6%9E%9C" target="_blank" title="苹果">苹果</a>
                               <a href="http://www.1yyg.com/search/?q=%E5%B0%8F%E7%B1%B3" target="_blank" title="小米">小米</a>
                           </span>
                       </div>
                       <a id="btnHSearch" href="javascript:;" class="seaIcon"><i></i></a>
                   </div>
               </div>
           </div>
       </div>
       
       <!--导航-->
       <div class="g-nav">
           <div class="w1190">
               <div id="divGoodsSort" class="m-menu fl">
                   <div class="m-menu-all">
                       <h3><a href="http://www.1yyg.com/list/m1.html">全部商品分类</a><em></em></h3>
                   </div>
                   <div id="divSortList" class="m-all-sort">
                       <dl class="">
                           <dt><a href="http://www.1yyg.com/list/i100.html">手机数码</a></dt>
                           <dd>
                               <a href="http://www.1yyg.com/list/i101.html">手机</a>
                               <a href="http://www.1yyg.com/list/i102.html">数码</a>
                               <a href="http://www.1yyg.com/list/i103.html">影音</a>
                               <a href="http://www.1yyg.com/list/i101b59.html">苹果手机</a>
                           </dd>
                       </dl>
                       <dl class="">
                           <dt><a href="http://www.1yyg.com/list/i106.html">电脑办公</a></dt>
                           <dd>
                               <a href="http://www.1yyg.com/list/i157.html">笔记本</a>
                               <a href="http://www.1yyg.com/list/i159.html">平板电脑</a>
                               <a href="http://www.1yyg.com/list/i115.html">外设</a>
                               <a href="http://www.1yyg.com/list/i117.html">网络</a>
                           </dd>
                       </dl>
                       <dl>
                           <dt>
                               <a href="http://www.1yyg.com/list/i104.html">家电</a>
                               <span>/</span>
                               <a href="http://www.1yyg.com/list/i305.html">汽车</a>
                           </dt>
                           <dd>
                               <a href="http://www.1yyg.com/list/i105.html">大家电</a>
                               <a href="http://www.1yyg.com/list/i108.html">厨房</a>
                               <a href="http://www.1yyg.com/list/i107.html">生活</a>
                               <a href="http://www.1yyg.com/list/i109.html">个护</a>
                           </dd>
                       </dl>
                       <dl>
                           <dt><a href="http://www.1yyg.com/list/i2.html">化妆个护</a></dt>
                           <dd>
                               <a href="http://www.1yyg.com/list/i3.html">面部护理</a>
                               <a href="http://www.1yyg.com/list/i205.html">美发护发</a>
                               <a href="http://www.1yyg.com/list/i12.html">香水</a>
                           </dd>
                       </dl>
                       <dl>
                           <dt>
                               <a href="http://www.1yyg.com/list/i222.html">钟表首饰</a>
                               <span>/</span>
                               <a href="http://www.1yyg.com/list/i251.html">礼品箱包</a>
                           </dt>
                           <dd>
                               <a href="http://www.1yyg.com/list/i223.html">珠宝首饰</a>
                               <a href="http://www.1yyg.com/list/i241.html">金条银条</a>
                               <a href="http://www.1yyg.com/list/i243.html">手表</a>
                           </dd>
                       </dl>
                       <dl>
                           <dt>
                               <a href="http://www.1yyg.com/list/i397.html">食品饮料</a>
                               <span>/</span>
                               <a href="http://www.1yyg.com/list/i312.html">其他</a>
                           </dt>
                           <dd>
                               <a href="http://www.1yyg.com/list/i398.html">美食</a>
                               <a href="http://www.1yyg.com/list/i423.html">粮油</a>
                               <a href="http://www.1yyg.com/list/i400.html">酒类</a>
                               <a href="http://www.1yyg.com/list/i399.html">饮料</a>
                           </dd>
                       </dl>
                   </div>
       
               </div>
               <div class="nav-main fl">
                   <ul>
                       <li class="f-nav-home"><a href="./1元云购 - 惊喜无限_files/1元云购 - 惊喜无限.html">首页</a></li>
                       <li class="f-nav-lottery"><a href="http://www.1yyg.com/lottery/m1.html">最新揭晓</a></li>
 <li class="f-nav-limit"><span class="nav-new transparent-png"></span><a href="http://www.1yyg.com/limitBuy/m1.html">限购专区</a></li>
<li class="f-nav-share"><a href="http://post.1yyg.com/">晒单分享</a></li>
                       <li class="f-nav-group"><a href="http://group.1yyg.com/">云购圈</a></li>
                       <li class="f-nav-invite"><a href="http://member.1yyg.com/ReferAuth.do">邀请</a></li>
                       <li class="f-nav-guide"><a href="http://help.1yyg.com/info/newbie/index.html">新手指南</a></li>
                   </ul>
               </div>
               <div id="divHCart" class="nav-cart fr">
                   <div class="nav-cart-btn">
                       <a href="http://cart.1yyg.com/CartList.do" target="_blank"><i class="f-cart-icon"></i>购物车<span id="spHCart"></span></a>
                   </div>
                   <div class="nav-cart-con">
                       <div class="m-loading-2014"><em></em></div>
                       <div class="nav-car-cartEmpty"><i></i>您的购物车为空 !</div>
                       <div class="nav-cart-select"></div>
                       <div class="nav-cart-pay"></div>
                   </div>
               </div>
           </div>
       </div>


<link rel="stylesheet" type="text/css" href="_CSS_/header.css">