<!doctype html>
<html>
<head>
	<title>文化风采</title>
	<meta charset="utf-8" />
	<meta name="author" />
	<meta name="keyword" />
	<meta name="description" />
	<link rel="stylesheet" type="text/css" href="_CSS_/common.css">
	<link rel="stylesheet" type="text/css" href="_CSS_/cultural_list.css">
	<script type="text/javascript" src="_JS_/jquery.js"></script>
	
</head>
<body>
	<include file="Common/header" />

	<div id="content">
		<div id="left">
	    	<div class="list_header">下载专区</div>
	        <div class="">
	        	<ul class="msg_list">
					<li class="curr_title"><a href="stripline.html">资料下载</a></li>
		        	<li ><a href="stripline.html">软件下载</a></li>
	            </ul> 
	        </div>
	        
	        <div class="left_bottom"></div>
	    </div>

	    <div id="right">
	    	<div class="right_title">
	    		<ul class="breadcrumbs">
					<li ><span>&gt;&gt;</span><a href="#">文化风采</a> </li>
				</ul>
	    	</div>
        	<div class="right_content">
	        	<ul>
	            	<li><a href="cultural_msg.html"><img src="_IMG_/whfc.png"></a>
	            		<div class="cultural_msg">
            				<div class="cultural_title"><a href="{:U("Cultural/content?id=1")}">青岛未出口鱼片黑名单企业向美</a></div>
            				<p class="cultural_other">
            					<span>2014-10-10</span><br>
            					青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美
            				</p>
	            		</div>
	            	</li>
	            	<li><a href="cultural_msg.html"><img src="_IMG_/whfc.png"></a>
	            		<div class="cultural_msg">
            				<div class="cultural_title"><a href="cultural_msg.html">青岛未出口鱼片黑名单企业向美</a></div>
            				<p class="cultural_other">
            					<span>2014-10-10</span><br>
            					青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美
            				</p>
	            		</div>
	            	</li>
	            	<li><a href="cultural_msg.html"><img src="_IMG_/whfc.png"></a>
	            		<div class="cultural_msg">
            				<div class="cultural_title"><a href="cultural_msg.html">青岛未出口鱼片黑名单企业向美</a></div>
            				<p class="cultural_other">
            					<span>2014-10-10</span><br>
            					青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美
            				</p>
	            		</div>
	            	</li>
	            	<li><a href="cultural_msg.html"><img src="_IMG_/whfc.png"></a>
	            		<div class="cultural_msg">
            				<div class="cultural_title"><a href="cultural_msg.html">青岛未出口鱼片黑名单企业向美</a></div>
            				<p class="cultural_other">
            					<span>2014-10-10</span><br>
            					青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美
            				</p>
	            		</div>
	            	</li>
	            	<li><a href="cultural_msg.html"><img src="_IMG_/whfc.png"></a>
	            		<div class="cultural_msg">
            				<div class="cultural_title"><a href="cultural_msg.html">青岛未出口鱼片黑名单企业向美</a></div>
            				<p class="cultural_other">
            					<span>2014-10-10</span><br>
            					青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美青岛未出口鱼片黑名单企业向美
            				</p>
	            		</div>
	            	</li>
	            </ul>
	        </div>
	        <div id="pager">
	        	<div class="all_page">共 8 页</div>
	        	<ul>
	        		<li><a title="首页" href="#">&lt;&lt;</a></li>
	        		<li><a title="上一页" href="#">&lt;</a></li>
	        		<li><a href="#">1</a></li>
	        		<li><a href="#">2</a></li>
	        		<li><a href="#" class="active">3</a></li>
	        		<li><a href="#">4</a></li>
	        		<li><a href="#">5</a></li>
	        		<li><a href="#">6</a></li>
	        		<li><a href="#">7</a></li>
	        		<li><a href="#">8</a></li>
	        		<li><a title="下一页" href="#">&gt;</a></li>
	        		<li><a title="尾页" href="#">&gt;&gt;</a></li>
	        	</ul>
	        	<!-- <div class="to_page">
	        		<input type="text" value="">
	        		<a href="#">GO</a>
	        	</div> -->
	        </div>
        </div>
	</div>

	<div class="barrier"> </div>
	<include file="Common/footer" />

</body>

