<script type="text/javascript">
	$(document).ready(function(){
		$(".cbody_content tr:odd").css({background: "#ffffff"}); // 1, 3 行
		//$(".cbody_content tr:even").css({background: "#ffffff"}); // 2, 4 行
	});
</script>
<div class="cbody_title">
	<ul>
		<li><a ourl="{:U("Cultural/add?type=$temp")}"><span class="add_icon"></span>添加</a></li>
		<li><a ourl="{:U("Cultural/update?type=$temp")}"><span class="update_icon"></span>修改</a></li>
		<li><a ourl="{:U("Cultural/delete?type=$temp")}" tag="del"><span class="delete_icon"></span>删除</a></li>
		<li><input id="skw" Cultural="{$kw}" type="text">
			<a ourl="{:U("Cultural/search")}" tag="search_tag"><span class="search_icon"></span>查询</a>
			</form>
		</li>
	</ul>
</div>
<div class="cbody_content">
	<table>
		<thead>
			<th><input type="checkbox"></th>
			<th>ID</th>
			<th class="title_width">标题</th>
			<th>发布时间</th>
			<th>阅读人数</th>
			<th>操作</th>
		</thead>
		<tr><td><input type="checkbox"></td><td>1</td><td>呵呵呵</td><td>2012-12-12</td><td>2222</td>
			<td>
				<a href="#" title="修改"><span class="update_icon"></span></a>
				<a href="#" title="删除"><span class="delete_icon"></span></a>
				<a href="#" title="查看"><span class="see_icon"></span></a>
			</td>
		</tr>
		<tr><td><input type="checkbox"></td><td>1</td><td>呵呵呵</td><td>2012-12-12</td><td>22</td>
			<td>
				<a href="#" title="修改"><span class="update_icon"></span></a>
				<a href="#" title="删除"><span class="delete_icon"></span></a>
				<a href="#" title="查看"><span class="see_icon"></span></a>
			</td>
		</tr>
		<tr><td><input type="checkbox"></td><td>1</td><td>呵呵呵呵呵</td><td>2012-12-12</td><td>22</td>
			<td>
				<a href="#" title="修改"><span class="update_icon"></span></a>
				<a href="#" title="删除"><span class="delete_icon"></span></a>
				<a href="#" title="查看"><span class="see_icon"></span></a>
			</td>
		</tr>
		<tr><td><input type="checkbox"></td><td>1</td><td>呵呵呵</td><td>2012-12-12</td><td>22</td>
			<td>
				<a href="#" title="修改"><span class="update_icon"></span></a>
				<a href="#" title="删除"><span class="delete_icon"></span></a>
				<a href="#" title="查看"><span class="see_icon"></span></a>
			</td>
		</tr>
		<tr><td><input type="checkbox"></td><td>1</td><td>呵呵呵</td><td>2012-12-12</td><td>22</td>
			<td>
				<a href="#" title="修改"><span class="update_icon"></span></a>
				<a href="#" title="删除"><span class="delete_icon"></span></a>
				<a href="#" title="查看"><span class="see_icon"></span></a>
			</td>
		</tr>
		<tr><td><input type="checkbox"></td><td>1</td><td>呵呵呵</td><td>2012-12-12</td><td>22</td>
			<td>
				<a href="#" title="修改"><span class="update_icon"></span></a>
				<a href="#" title="删除"><span class="delete_icon"></span></a>
				<a href="#" title="查看"><span class="see_icon"></span></a>
			</td>
		</tr>
		<tr><td><input type="checkbox"></td><td>1</td><td>呵呵呵</td><td>2012-12-12</td><td>22</td>
			<td>
				<a href="#" title="修改"><span class="update_icon"></span></a>
				<a href="#" title="删除"><span class="delete_icon"></span></a>
				<a href="#" title="查看"><span class="see_icon"></span></a>
			</td>
		</tr>
		<tr><td><input type="checkbox"></td><td>1</td><td>呵呵呵</td><td>2012-12-12</td><td>22</td>
			<td>
				<a href="#" title="修改"><span class="update_icon"></span></a>
				<a href="#" title="删除"><span class="delete_icon"></span></a>
				<a href="#" title="查看"><span class="see_icon"></span></a>
			</td>
		</tr>
		<tr><td><input type="checkbox"></td><td>1</td><td>呵呵呵</td><td>2012-12-12</td><td>22</td>
			<td>
				<a href="#" title="修改"><span class="update_icon"></span></a>
				<a href="#" title="删除"><span class="delete_icon"></span></a>
				<a href="#" title="查看"><span class="see_icon"></span></a>
			</td>
		</tr>
		<tr><td><input type="checkbox"></td><td>1</td><td>呵呵呵</td><td>2012-12-12</td><td>22</td>
			<td>
				<a href="#" title="修改"><span class="update_icon"></span></a>
				<a href="#" title="删除"><span class="delete_icon"></span></a>
				<a href="#" title="查看"><span class="see_icon"></span></a>
			</td>
		</tr>
	</table>
	<div id="pager">
    	<div class="all_page">共 8 页</div>
    	<ul>
    		<li><a title="首页" href="#">&lt;&lt;</a></li>
    		<li><a title="上一页" href="#">&lt;</a></li>
    		<li><a href="#">1</a></li>
    		<li><a href="#">2</a></li>
    		<li><a href="#" class="active">3</a></li>
    		<li><a href="#">4</a></li>
    		<li><a href="#">5</a></li>
    		<li><a href="#">6</a></li>
    		<li><a href="#">7</a></li>
    		<li><a href="#">8</a></li>
    		<li><a title="下一页" href="#">&gt;</a></li>
    		<li><a title="尾页" href="#">&gt;&gt;</a></li>
    	</ul>
    	<!-- <div class="to_page">
    		<input type="text" value="">
    		<a href="#">GO</a>
    	</div> -->
    </div>
</div>
<script type="text/javascript">
	$(".cbody_title a").click(function(){
		var tag = $(this).attr("tag");
		var ourl = $(this).attr("ourl");
		if(tag == "del"){
			if(confirm("确定要删除该记录吗？")){
				postAjax(ourl);
			}
		}else if(tag == "search_tag"){
			postAjax(ourl,$("#skw").val());
		}else{
			postAjax(ourl);
		}
		
		
	});
	
	function postAjax(url,kw){
		$.ajax(
			{ url: url,
			  data: "search_word="+kw,
			  success: function(r){
				$(".cbody").html(r);
			  }
			}
		);
	}
</script>		